<h2 class="text-5xl font-bold text-center dark:text-black">СХЕМА ТРАСС</h2>

<div class="">
  <img loading="lazy" src="https://api.interactive-img.com/interactiveimage/6033f08f1f775.jpg" width="2500"
    height="1083">
</div>

<h2 class="mb-12 text-3xl font-extrabold leading-9 text-gray-900 border-b-2 border-gray-100 text-center">
  НАШИ СКЛОНЫ
</h2>


<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -mx-4 -my-8">
      <div class="py-8 px-4 lg:w-1/3">
        <div class="h-full flex items-start">
          <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
            <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-200">Трасса </span>
            <span class="font-medium text-lg text-gray-800 title-font leading-none">Звезда</span>
          </div>
          <div class="flex-grow pl-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-indigo-500 mb-1">трасса с интересным рельефом</h2>
            <h1 class="title-font text-xl font-medium text-gray-900 mb-3">Трасса Звезда</h1>
            <p class="leading-relaxed mb-5">
              Протяженность – 380 м <br>
              Перепад – 76 м <br>
              Ширина – до 35 м <br>
              «Звезда» — трасса с интересным рельефом, который представляет собой три ступени. Для тех, кто еще не совсем
              уверен в уровне своего катания, есть возможность схода с подъемника раньше верхней точки. Всегда выглаженный
              склон и много снега.
            </p>

          </div>
        </div>
      </div>
      <div class="py-8 px-4 lg:w-1/3">
        <div class="h-full flex items-start">
          <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
            <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-200">Трасса </span>
            <span class="font-medium text-lg text-gray-800 title-font leading-none">Лесная</span>
          </div>
          <div class="flex-grow pl-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-indigo-500 mb-1">самая сложная трасса</h2>
            <h1 class="title-font text-xl font-medium text-gray-900 mb-3">Трасса Лесная</h1>
            <p class="leading-relaxed mb-5">
              Протяженность – 420 м <br>
              Перепад – 65 м <br>
              Ширина – до 20 м <br>
              Трасса «Лесная» — самая сложная трасса, которая включает в себя возможность катания по разным ее ответвлениям
              (расходится на несколько отдельных трасс). Предназначена для людей с высоким, экспертным и профессиональным
              уровнем катания.
            </p>

          </div>
        </div>
      </div>
      <div class="py-8 px-4 lg:w-1/3">
        <div class="h-full flex items-start">
          <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
            <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-200">Трасса </span>
            <span class="font-medium text-lg text-gray-800 title-font leading-none">Учебная</span>
          </div>
          <div class="flex-grow pl-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-indigo-500 mb-1">для тех кто делает свои первые шаги</h2>
            <h1 class="title-font text-xl font-medium text-gray-900 mb-3">Трасса Учебная</h1>
            <p class="leading-relaxed mb-5">
              Протяженность – 130 м <br>
              Ширина – 20 м <br>
              «Учебная»  — трасса, предназначенные для тех, кто делает свои первые шаги в горных лыжах и
              сноубординге. <br> Трасса довольно пологая, что дает возможность отточить азы техники, при этом трасса имеет
              разный
              профиль для более полного соответствия уровню катания. <br> На трассе «Учебная» разрешено находится без
              инструктора. <br>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -mx-4 -my-8">
      <div class="py-8 px-4 lg:w-1/3">
        <div class="h-full flex items-start">
          <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
            <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-200">Трасса </span>
            <span class="font-medium text-lg text-gray-800 title-font leading-none"></span>
          </div>
          <div class="flex-grow pl-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-indigo-500 mb-1">для тех кто делает свои первые шаги</h2>
            <h1 class="title-font text-xl font-medium text-gray-900 mb-3">Трасса Инструкторская</h1>
            <p class="leading-relaxed mb-5">
              Протяженность – 110 м <br>
              Ширина – 12 м <br>
              «Учебная» и «Инструкторская» — трассы, предназначенные для тех, кто делает свои первые шаги в горных лыжах и
              сноубординге. <br> Трассы довольно пологие, что дает возможность отточить азы техники, при этом трассы имеют
              разный
              профиль для более полного соответствия уровню катания. <br> На трассе «Учебная» разрешено находится без
              инструктора. <br>
              На трассу «Инструкторская» допускаются посетители только во время занятия с инструктором по горным лыжам или
              сноуборду. <a class="text-red-400">Самостоятельное катание на данной трассе запрещено</a>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
<div class="max-w-screen-xl p-8 mx-auto">
  <h2 class="mb-12 text-3xl font-extrabold leading-9 text-gray-900 border-b-2 border-gray-100 text-center">
    НАШИ СКЛОНЫ
  </h2>
  <ul class="flex flex-wrap items-start gap-8">
    <li class="w-2/5">
      <p class="text-lg font-medium leading-6 text-gray-900">
        Трасса Звезда
      </p>
      <p class="mt-2">

      <p class="text-base leading-6 text-gray-500 ">
        Протяженность – 380 м <br>
        Перепад – 76 м <br>
        Ширина – до 35 м <br>
        «Звезда» — трасса с интересным рельефом, который представляет собой три ступени. Для тех, кто еще не совсем
        уверен в уровне своего катания, есть возможность схода с подъемника раньше верхней точки. Всегда выглаженный
        склон и много снега.

      </p>

    </li>
    <li class="w-2/5">
      <p class="text-lg font-medium leading-6 text-gray-900">
        Трасса Лесная
      </p>
      <p class="mt-2">

      <p class="text-base leading-6 text-gray-500 ">
        Протяженность – 420 м <br>
        Перепад – 65 м <br>
        Ширина – до 20 м <br>
        Трасса «Лесная» — самая сложная трасса, которая включает в себя возможность катания по разным ее ответвлениям
        (расходится на несколько отдельных трасс). Предназначена для людей с высоким, экспертным и профессиональным
        уровнем катания.
      </p>

    </li>
    <li class="w-2/5">
      <p class="text-lg font-medium leading-6 text-gray-900">
        Трассы учебная и инструкторская
      </p>
      <p class="mt-2">

      <p class="text-base leading-6 text-gray-500 ">
        <a class="text-red-400">«Учебная»:</a> <br>
        Протяженность – 130 м <br>
        Ширина – 20 м <br>
        <a class="text-red-400">«Инструкторская»:</a> <br>
        Протяженность – 110 м <br>
        Ширина – 12 м <br>
        «Учебная» и «Инструкторская» — трассы, предназначенные для тех, кто делает свои первые шаги в горных лыжах и
        сноубординге. <br> Трассы довольно пологие, что дает возможность отточить азы техники, при этом трассы имеют
        разный
        профиль для более полного соответствия уровню катания. <br> На трассе «Учебная» разрешено находится без
        инструктора. <br>
        На трассу «Инструкторская» допускаются посетители только во время занятия с инструктором по горным лыжам или
        сноуборду. <a class="text-red-400">Самостоятельное катание на данной трассе запрещено</a>.
      </p>

    </li>
  </ul>
</div>-->

<h2 class="mb-12 text-3xl font-extrabold leading-9 text-gray-900 border-b-2 border-gray-100 text-center">
  КАМЕРЫ
</h2>
<p class="block mb-2 text-xs font-medium tracking-widest text-center uppercase text-violet-400">Камеры помогут оценить
  состояние и загрузку трасс. Полезно при планировании посещения.</p>
<div class="columns-3 flex flex-wrap">

  <div class="iv-embed" style="margin:0 auto;padding:0;border:0;width:402px;">
    <div class="iv-v" style="display:block;margin:0;padding:1px;border:0;background:#000;"><iframe class="iv-i"
        style="display:block;margin:0;padding:0;border:0;"
        src="https://open.ivideon.com/embed/v3/?server=100-2jVcEN6At6tLTnEV3TQE2z&amp;camera=0&amp;width=&amp;height=&amp;lang=ru"
        width="400" height="226" frameborder="0" allowfullscreen></iframe></div>
    <div class="iv-b" style="display:block;margin:0;padding:0;border:0;">
      <div style="float:right;text-align:right;padding:0 0 10px;line-height:10px;"><a class="iv-a"
          style="font:10px Verdana,sans-serif;color:inherit;opacity:.6;" href="https://www.ivideon.com/"
          target="_blank">Горнолыжный Клуб Гай Северина</a></div>
      <div style="clear:both;height:0;overflow:hidden;">&nbsp;</div>
      <script src="https://open.ivideon.com/embed/v3/embedded.js"></script>
    </div>
  </div>


  <div class="iv-embed" style="margin:0 auto;padding:0;border:0;width:402px;">
    <div class="iv-v" style="display:block;margin:0;padding:1px;border:0;background:#000;"><iframe class="iv-i"
        style="display:block;margin:0;padding:0;border:0;"
        src="https://open.ivideon.com/embed/v3/?server=100-XaWeXDz3s7YYdiffdsjn9x&amp;camera=0&amp;width=&amp;height=&amp;lang=ru"
        width="400" height="226" frameborder="0" allowfullscreen></iframe></div>
    <div class="iv-b" style="display:block;margin:0;padding:0;border:0;">
      <div style="float:right;text-align:right;padding:0 0 10px;line-height:10px;"><a class="iv-a"
          style="font:10px Verdana,sans-serif;color:inherit;opacity:.6;" href="https://www.ivideon.com/"
          target="_blank">Горнолыжный Клуб Гай Северина</a></div>
      <div style="clear:both;height:0;overflow:hidden;">&nbsp;</div>
      <script src="https://open.ivideon.com/embed/v3/embedded.js"></script>
    </div>
  </div>

  <div class="iv-embed" style="margin:0 auto;padding:0;border:0;width:402px;">
    <div class="iv-v" style="display:block;margin:0;padding:1px;border:0;background:#000;"><iframe class="iv-i"
        style="display:block;margin:0;padding:0;border:0;"
        src="https://open.ivideon.com/embed/v3/?server=100-XaWeXDz3s7YYdiffdsjn9x&amp;camera=0&amp;width=&amp;height=&amp;lang=ru"
        width="400" height="226" frameborder="0" allowfullscreen></iframe></div>
    <div class="iv-b" style="display:block;margin:0;padding:0;border:0;">
      <div style="float:right;text-align:right;padding:0 0 10px;line-height:10px;"><a class="iv-a"
          style="font:10px Verdana,sans-serif;color:inherit;opacity:.6;" href="https://www.ivideon.com/"
          target="_blank">Горнолыжный Клуб Гай Северина</a></div>
      <div style="clear:both;height:0;overflow:hidden;">&nbsp;</div>
      <script src="https://open.ivideon.com/embed/v3/embedded.js"></script>
    </div>
  </div>
</div>




<h2 class="mb-12 text-3xl font-extrabold leading-9 text-gray-900 border-b-2 border-gray-100 text-center">
  СЛУЖБА ИНСТРУКТОРОВ
</h2>

<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->

<section class="overflow-hidden bg-gray-50 sm:grid sm:grid-cols-2">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        Трассы горнолыжного клуба Гая Северина: разноуровневые, протяженные и безопасные
      </h2>

      <p class="hidden text-gray-500 md:mt-4 md:block">
        Горнолыжный клуб Гая Северина предлагает Вам несколько трасс разного уровня, общей протяженностью более 1 000
        метров, с перепадом высот до 75 метров. Наш клуб расположен на территории ООПТ «Боровской курган» и на данный
        момент мы обладаем самыми протяженными и высокими трассами на Юго-востоке Подмосковья.
        Трассы подходят для горнолыжников и сноубордистов разного уровня, от начинающих до профессионалов. Все склоны
        освещены, что делает вечернее катание безопасным и приятным. Наш Клуб уделяет особое внимание безопасности на
        склонах – во всех опасных местах установлены улавливающие сети и маты безопасности.

      </p>


    </div>
  </div>

  <img alt="Student" src="https://chylkovo.ru/wp-content/uploads/2021/02/SAG_7477-1280x854.jpg"
    class="h-56 w-full object-cover sm:h-full rounded-md" />
</section>



<section class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8">
    <div class="mx-auto max-w-3xl text-center">
      <h2 class="text-3xl font-black text-gray-900 sm:text-4xl">

      </h2>


    </div>

    <div class="mt-8 sm:mt-12">
      <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
        <div
          class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center animate__animated animate__slideInLeft animate__slow	1s">
          <dt class="order-last text-lg font-medium text-gray-500">
            протяженность
          </dt>

          <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">
            1000m
          </dd>
        </div>

        <div class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center">
          <dt class="order-last text-lg font-medium text-gray-500">
            перепад
          </dt>

          <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">75m</dd>
        </div>

        <div
          class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center animate__animated animate__slideInRight animate__slow	1s">
          <dt class="order-last text-lg font-medium text-gray-500">
            трасс
          </dt>

          <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">5</dd>
        </div>
      </dl>
    </div>
  </div>
</section>









<section>
  <div class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
      <div class="relative z-10 lg:py-16">
        <div class="relative h-64 sm:h-80 lg:h-full">
          <img alt="House" src="https://chylkovo.ru/wp-content/uploads/2021/02/SAG_1611-1280x1920.jpg"
            class="absolute inset-0 h-full w-full object-cover" />
        </div>
      </div>

      <div class="relative flex items-center bg-gray-100">
        <span class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="text-2xl font-bold sm:text-3xl">
            ПОДЪЕМНИКИ
          </h2>

          <p class="mt-4 text-gray-600">
            На всех склонах Клуба установлены бесфундаментные буксировочные канатные дороги (ББКД) Multi Skilift, для
            горнолыжников и сноубордистов, производства немецкой фирмы Multi Skiliftbau GmbH. Данные подъемники являются
            оптимальным решением для небольших горнолыжных комплексов, а их надежность подтверждена соответствием
            европейским и американским стандартам качества и безопасности для буксировочных дорог (European Regulation
            for cable ways 2000/9/EC).
            Подъёмники имеют Разрешение Федеральной службы по экологическому, техническому и атомному надзору № РРС
            00-32005 на применение на территории России. На наших склонах установлены одни из самых длинных подъемников
            такого типа. Данные подъемники выбраны не случайно. Наш Клуб находится на территории памятника природы
            «Боровской Курган» и данный вид подъемников не наносит вреда почве, так как не требует установки опор и
            дополнительных элементов.
          </p>


        </div>
      </div>
    </div>
  </div>
</section>







<section class="bg-gray-900 text-white">
  <div class="max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8">
    <div class="max-w-xl">
      <h2 class="text-3xl font-bold sm:text-4xl">ПРАВИЛА ПОСАДКИ-ВЫСАДКИ И ПЕРЕВОЗКИ ПАССАЖИРОВ НА ББКД:</h2>

      <!--<p class="mt-4 text-gray-300">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
        dolores iure fugit totam iste obcaecati. Consequatur ipsa quod ipsum
        sequi culpa delectus, cumque id tenetur quibusdam, quos fuga minima.
      </p>-->
    </div>

    <div class="mt-8 grid grid-cols-1 gap-8 md:mt-16 md:grid-cols-2 md:gap-12 lg:grid-cols-3">
      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-800 p-4">
          <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z">
            </path>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222">
            </path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">Общие правила доступа</h2>

          <p class="mt-1 text-sm text-gray-300">
            Пассажиры обязаны изучить настоящие Правила, а также ознакомиться с текущей обстановкой (метеоусловиями,
            состоянием трасс и линий подъема посредством визуального контроля, опроса сотрудников службы канатных дорог,
            установленных на территории Горнолыжного клуба «Гая Северина» (далее – Клуба) информационных знаков и
            системы звукового оповещения) и оценить собственные возможности по использованию канатных дорог, а также
            возможности сопровождаемых детей или инвалидов.
            Доступ на канатные дороги разрешен Клиентам только при наличии ски-пасса с достаточным балансом баллов.
            Доступ на определенные участки канатных дорог может быть временно или постоянно закрыт или ограничен в
            зависимости от погодных условий и состояния линии подъема безопорных буксировочных канатных дорог (далее –
            ББКД).
          </p>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-800 p-4">
          <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z">
            </path>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222">
            </path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">Доступ детей</h2>

          <p class="mt-1 text-sm text-gray-300">
            Допуск детей дошкольного и младшего школьного возраста к использованию ББКД производится по усмотрению
            администрации Клуба под личную ответственность родителей или достигших совершеннолетия лиц, сопровождающих
            ребенка.
            Дети ростом до 100 см допускаются к перевозке на ББКД только в сопровождении взрослых.
            Детям необходимо иметь собственный ски-пасс с достаточным балансом баллов.
          </p>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-800 p-4">
          <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z">
            </path>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222">
            </path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">Доступ инвалидов</h2>

          <p class="mt-1 text-sm text-gray-300">
            Клиент с инвалидностью или сопровождающее его лицо до приобретения ски-пасса на канатную дорогу обязаны
            сообщить сотрудникам Клуба о своих ограничениях и о возможной необходимости дополнительной помощи. В случае
            использования специальных приспособлений (специального спортивного снаряжения), они должны быть оценены и
            разрешены к перевозке сотрудниками службы канатных дорог
          </p>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-800 p-4">
          <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z">
            </path>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222">
            </path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">Провоз багажа</h2>

          <p class="mt-1 text-sm text-red-600">
            Перевозка багажа запрещена
          </p>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-800 p-4">
          <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z">
            </path>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222">
            </path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">Перевозка животных</h2>

          <p class="mt-1 text-sm text-red-600">
            Перевозка животных запрещена
          </p>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-800 p-4">
          <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z">
            </path>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222">
            </path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">Посадка на канатную дорогу</h2>

          <p class="mt-1 text-sm text-gray-300">
            Посадка на ББКД разрешается в посадочной зоне и только в присутствии дежурного по станции. Пассажиры,
            которые нуждаются в помощи при посадке или высадке с канатной дороги, должны заранее сообщить об этом
            дежурному по станции.
            Также пассажиры обязаны:
            — производить посадку в порядке очереди, не создавая помех другим пассажирам;
            — не заходить за обозначенные пределы зоны посадки.
          </p>
        </div>
      </div>
      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-800 p-4">
          <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z">
            </path>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222">
            </path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">Во время перевозки <a class="text-red-600">категорически запрещается</a></h2>

          <p class="mt-1 text-sm text-gray-300">
            — пытаться произвести механические повреждения ББКД;
            — выбрасывать предметы/мусор вдоль трассы ББКД;
            — раскачивать канат.
          </p>
        </div>
      </div>
      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-800 p-4">
          <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z">
            </path>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222">
            </path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">Во время перевозки <a class="text-red-600">пассажиры обязаны</a> </h2>

          <p class="mt-1 text-sm text-gray-300">
            — сохранять положение тела, предусмотренное данным типом ББКД;
            — в случае остановки не пытаться самостоятельно сойти с ББКД, а ждать указаний сотрудников канатных дорог;
            — при сходе с ББКД не создавать помех другим пассажирам;
            — следовать указаниям информационных знаков;
            — выполнять указания персонала службы канатных дорог
          </p>
        </div>
      </div>
      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-800 p-4">
          <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z">
            </path>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222">
            </path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">Высадка пассажиров канатной дороги</h2>

          <p class="mt-1 text-sm text-gray-300">
            По прибытии в зону высадки пассажиры обязаны:
            — плавно отпустить буксировочную рукоять и без промедлений освободить площадку высадки для
            беспрепятственного завершения подъема следующими пассажирами;
            — без промедлений освободить зону высадки пассажиров ББКД.
          </p>
        </div>
      </div>
      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-800 p-4">
          <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z">
            </path>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222">
            </path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold text-red-600">Категорически запрещается</h2>

          <p class="mt-1 text-sm text-gray-300">

            — пользоваться ББКД без использования шлема;
            — совершать посадку на канатную дорогу, закрытую для Клиентов;
            — совершать посадку вне посадочных зон;
            — совершать высадку вне зон высадки (кроме случаев, когда это необходимо для исключения угрозы жизни и
            здоровью);
            — умышлено создавать аварийные ситуации;
            — использовать оборудование, отличное от горных лыж и сноубордов;
            — игнорировать требования персонала Клуба;
            — спуск на горных лыжах/сноубордах по линии подъема ББКД;
            — подъем в шарфах, длинной свободной одежде;
            — курить, употреблять алкогольные напитки, находиться в состоянии алкогольного и наркотического опьянения;
            — наносить вред оборудованию и металлоконструкциям канатной дороги;
            — рисовать или наносить надписи на всех объектах Клуба, включая ББКД;
            — провозить взрывчатые, огнеопасные и ядовитые вещества, оружие, другие предметы, угрожающие безопасности
            Клиентов и работников Клуба.
          </p>
        </div>
      </div>
      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-800 p-4">
          <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z">
            </path>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222">
            </path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">Особенности пользования ББКД</h2>

          <p class="mt-1 text-sm text-gray-300">
            — свободную одежду, шарфы и т.п. необходимо уберегать от попадания на трос;
            — посадка на канатную дорогу и высадка с нее допускается только в обозначенных для этого местах;
            — во время буксировки необходимо следовать строго по линии подъема, не отклоняясь в стороны (кроме случаев,
            когда это необходимо для исключения угрозы жизни и здоровью);
            — в случае падения необходимо отпустить буксировочную рукоять, быстро сместиться в сторону от линии подъема;
            — во время высадки с канатной дороги необходимо плавно отпустить буксировочную рукоять и без промедлений
            освободить площадку высадки для беспрепятственного завершения подъема следующими пассажирами;
            — в случае если пассажир не успел отпустить буксировочную рукоять, необходимо любым доступным способом
            сообщить об этом оператору канатной дороги для остановки ее движения;
            — перед началом подъёма горнолыжные палки необходимо взять в одну руку. Во время подъема свободной рукой
            держаться за канат;
            — быть особенно внимательным при проезде эстакад, других узких мест и при съезде с трассы подъемника;
            — не допускается осуществлять спуск вниз по линии подъема канатной дороги
          </p>
        </div>
      </div>
      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-800 p-4">
          <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z">
            </path>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222">
            </path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">Согласие</h2>

          <p class="mt-1 text-sm text-gray-300">
            Пользуясь канатными дорогами, Клиент подтверждает, что полностью ознакомлен и согласен с настоящими
            Правилами.
          </p>
        </div>
      </div>
    </div>
  </div>

</section>


<footer aria-label="Site Footer" class="bg-white dark:bg-gray-900 lg:grid lg:grid-cols-5">
  <div class="relative block h-32 lg:col-span-2 lg:h-full">
    <img
      src="https://images.unsplash.com/photo-1642370324100-324b21fab3a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80"
      alt="" class="absolute inset-0 object-cover w-full h-full" />
  </div>

  <div class="px-4 py-16 sm:px-6 lg:col-span-3 lg:px-8">
    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
      <div>
        <p>
          <span class="text-xs tracking-wide text-gray-500 uppercase dark:text-gray-400">
            Контакты
          </span>

          <a href="#" class="block text-2xl font-medium text-gray-900 hover:opacity-75 dark:text-white sm:text-3xl">
            +7 (495) 136-58-34 <br>
            info@chylkovo.ru
          </a>
        </p>

        <ul class="mt-8 space-y-1 text-sm text-gray-700 dark:text-gray-200">
          <li>С понедельника по пятницу: 10:00 - 19:00</li>
          <li>Выходные: 10:00 - 15:00</li>
        </ul>
        <span class="text-xs tracking-wide text-gray-500 uppercase dark:text-gray-400">
          Наш адрес <br>
        </span>
        <span class="text-xs tracking-wide text-gray-500 uppercase dark:text-gray-400">
          <a
            href="https://yandex.ru/maps/org/gornolyzhny_klub_gaya_severina/80252403270/?ll=38.027429%2C55.556141&z=17">
            Яндекс Карты
          </a>
        </span>
        <ul class="mt-8 space-y-1 text-sm text-gray-700 dark:text-gray-200">
          <li>МО, Раменский р-н, п. </li>
          <li>им.Тельмана ул. Курганная 1</li>
        </ul>
      </div>

      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
        <div>
          <p class="font-medium text-gray-900 dark:text-white">Мы в соцсетях</p>

          <nav aria-label="Footer Navigation - Services" class="mt-6">
            <ul class="space-y-4 text-sm">
              <li>
                <a href="https://vk.com/chylkovo" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  <i class="fab fa-vk fa-lg" style="color: #a96800;"></i>
                </a>
              </li>

              <li>
                <a href="https://t.me/chylkovo" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  <i class="fab fa-telegram fa-lg" style="color: #a96800;"></i>
                </a>
              </li>

              <!--<li>
                <a href="#" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  Accounts Review
                </a>
              </li>

              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  HR Consulting
                </a>
              </li>

              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  SEO Optimisation
                </a>
              </li>-->
            </ul>
          </nav>
        </div>

        <div>
          <p class="font-medium text-gray-900 dark:text-white">Телекоммуникационный партнер</p>

          <nav aria-label="Footer Navigation - Company" class="mt-6">
            <!-- <ul class="space-y-4 text-sm">
              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  About
                </a>
              </li>

              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  Meet the Team
                </a>
              </li>

              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  Accounts Review
                </a>
              </li>
            </ul>-->
          </nav>
        </div>
      </div>
    </div>

    <div class="pt-12 mt-12 border-t border-gray-100 dark:border-gray-800">
      <div class="sm:flex sm:items-center sm:justify-between">
        <nav aria-label="Footer Navigation - Support">
          <ul class="flex flex-wrap gap-4 text-xs">
            <li>
              <a href="#" class="text-gray-500 transition hover:opacity-75 dark:text-gray-400">
                Terms & Conditions
              </a>
            </li>

            <li>
              <a href="#" class="text-gray-500 transition hover:opacity-75 dark:text-gray-400">
                Privacy Policy
              </a>
            </li>

            <li>
              <a href="#" class="text-gray-500 transition hover:opacity-75 dark:text-gray-400">
                Cookies
              </a>
            </li>
          </ul>
        </nav>

        <p class="mt-8 text-xs text-gray-500 dark:text-gray-400 sm:mt-0">
          &copy; 2023. Company Mavirys. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
