




<div class="px-4 py-20 bg-lightblue">
  <div class="flex flex-col max-w-6xl mx-auto md:flex-row">
      <h2 class="w-full mr-8 text-3xl font-extrabold leading-9 md:w-1/3">
        СЛУЖБА ИНСТРУКТОРОВ
      </h2>
      <dl class="w-full md:w-2/3">
          <dt class="mb-4">
              <h3 class="text-xl font-semibold">
                Служба инструкторов нашего Клуба всегда готова помочь!
              </h3>
          </dt>
          <dd class="mb-16">
              <p>
                Вам сделать первые правильные шаги в горных лыжах или сноуборде или помочь в улучшении Вашей техники.
                Все инструкторы нашего Клуба аттестованы ведущими Российскими центрами подготовки инструкторов и своевременно проходят  дополнительное обучение. Это дает гарантии, что Ваше обучение будет проходить по современным методикам и соответствовать международным стандартам. Важно изначально правильно поставить технику катания, чтобы избежать ошибок в дальнейшем и не получать травмы. Мы так же всегда готовы помочь и в совершенствовании техники, тем кто уже уверенно катается, но хочет повысить свой уровень.
              </p>
              <a routerLink="/ze"><button type="button" class="py-2 px-4  bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">Покажи их скореe</button></a>
          </dd>
          <dt class="mb-4">
              <h3 class="text-xl font-semibold">
                КАК ЗАПИСАТЬСЯ?
              </h3>
          </dt>
          <dd class="mb-16">
              <p>
                Для записи на занятие с инструктором просто позвоните нам +7(495)136-58-34 или запишитесь на индивидуальное занятие онлайн.

<button type="button" class="py-2 px-4  bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
  Записаться на занятие
</button>
         </p>
         <p class="text-xl font-semibold text-red-600">Внимание: Занятия проводятся только по предварительной записи.
          </p>
          <p class="mb-16">А ниже вы найдете стоимость услуг, график работы и некоторые рекомендации, которые позволят сделать ваше обучение еще более комфортным.</p>
          </dd>
          <a routerLink="/sr"><button type="button" class="py-2 px-4  bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">Ски-Сервис</button></a>
          <dt class="mb-4">
              <h3 class="text-xl font-semibold">
                ПРОФЕССИОНАЛЬНЫЕ ИНСТРУКТОРЫ!
              </h3>
          </dt>
          <dd class="mb-16">
              <p>
                Мы очень тщательно относимся к подбору персонала в службу инструкторов и гордимся нашими сотрудниками.  Наши инструкторы проводят занятия по горным лыжам для детей от 4 лет, по сноуборду — от 6 лет, а самым старшим ученикам далеко за 60.  Звоните и  записывайтесь на занятия, горнолыжный спорт и сноубординг доступен для людей любого возраста!
              </p>
          </dd>
      </dl>
  </div>
</div>


<div class="max-w-screen-xl p-8 mx-auto">
  <h2 class="mb-12 text-3xl font-extrabold leading-9 text-gray-900 border-b-2 border-gray-100 ">
    ПРОСТЫЕ РЕКОМЕНДАЦИИ И ПРАВИЛА
  </h2>
  <ul class="flex flex-wrap items-start gap-8">
      <li class="w-2/5">
          <p class="text-lg font-medium leading-6 text-gray-900">
            Занятия горнолыжным спортом: важные детали и условия
          </p>
          <p class="mt-2">

              <p class="text-base leading-6 text-gray-500">
                - В стоимость занятия включена стоимость пользования канатными дорогами. <br>
                — Услугами инструкторов вправе воспользоваться любой Клиент, не имеющий медицинских противопоказаний для занятий горнолыжным спортом (сноубордом). <br>
                — Клиент допускается на занятие в защитном шлеме. <br>
                — Допуск детей дошкольного и младшего школьного возраста к занятиям со инструкторами производится по усмотрению администрации (горные лыжи — дети с 4 лет, сноуборд — дети с 6 лет) под личную ответственность родителей или достигших совершеннолетия лиц, сопровождающих ребенка. <br>
                — Администрация вправе отказать Клиенту в пользовании услугами инструкторов при отсутствии свободного инструктора. <br>
                — В случае пользования услугами инструктора в течение времени меньшего, чем оплачено Клиентом (по вине Клиента), плата за неиспользованное время предоставления услуг не возвращается. <br>
                — Занятия ведутся по предварительной записи. <br>
                — Неоплаченное бронирование аннулируется за 10 минут до начала занятия. <br>
                — Приобретение/оплата стоимости услуг в кассу  является полным согласием клиента с правилами, с полным текстом правил Вы можете ознакомиться на сайте или на информационных стендах. <br>
              </p>

      </li>
      <li class="w-2/5">
          <p class="text-lg font-medium leading-6 text-gray-900">
            Записывайтесь онлайн и бронируйте инструктора заранее
          </p>
          <p class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                - Бронируйте занятиие с инструктором заранее по телефону +7(495)136-58-34., или записывайтесь онлайн на индивидуальные занятия. <br>
                - Если ваши планы поменялись, ПОЖАЛУЙСТА, заранее отмените бронь. Это простое действие займет всего пару минут, но освободит время для других желающих позаниматься с инструктором. <br>
                - Приезжайте ЗАРАНЕЕ. Занятие необходимо оплатить заранее, неоплаченное бронирование аннулируется за 10 минут до начала занятия. Если вы опаздываете, время к занятию добавляться не будет.
              </p>

      </li>
      <!--<li class="w-2/5">
          <p class="text-lg font-medium leading-6 text-gray-900">
              What is the general cost of an energy rating?
          </p>
          <p class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                  Simple energy rating prices vary greatly on the size and type of building, generally an energy rating will cost somewhere between $130 to $700+.
              </p>

      </li>
      <li class="w-2/5">
          <p class="text-lg font-medium leading-6 text-gray-900">
              What information do I need to supply for an energy rating to be completed??
          </p>
          <p class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                  The information required to complete a full and comprehensive energy report are the following final working drawings: Site Plan, Floor Plan, Elevations, Sections, Lighting layout and window schedule (including sizes of the existing windows).
              </p>

      </li>
      <li class="w-2/5">
          <p class="text-lg font-medium leading-6 text-gray-900">
              Does building an extension need an energy rating?
          </p>
          <p class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                  Depended on the size of the extension you are building there is a chance that it too will need to be energy rated. It&#x27;s always best to check first before going ahead with construction.
              </p>

      </li>
      <li class="w-2/5">
          <p class="text-lg font-medium leading-6 text-gray-900">
              What is the general cost of an energy rating?
          </p>
          <p class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                  Depended on the size of the extension you are building there is a chance that it too will need to be energy rated. It&#x27;s always best to check first before going ahead with construction.
              </p>
      </li>-->
  </ul>
</div>


<div class="relative max-w-screen-xl p-4 px-4 mx-auto bg-white dark:bg-gray-800 sm:px-6 lg:px-8 py-26 lg:mt-20">
  <div class="relative">
      <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
          <div class="ml-auto lg:col-start-2 lg:max-w-2xl">
              <p class="text-base font-semibold leading-6 dark:text-indigo-500 uppercase">
                ЛИГА МЕЧТЫ
              </p>
              <h4 class="mt-2 text-2xl font-extrabold leading-8 text-gray-900 dark:text-white sm:text-3xl sm:leading-9">
                «Лига мечты» – программа эффективной реабилитации и социализации для людей с детским церебральным параличом, аутизмом, синдромом Дауна, нарушениями зрения и другими ограниченными возможностями здоровья с помощью занятий горными лыжами. Программа создана для того, чтобы дать возможность всем людям с особенностями здоровья заниматься терапевтическим спортом для физической, психологической и социальной реабилитации.
              </h4>
              <p class="mt-4 text-lg leading-6 text-gray-500 dark:text-gray-300">
                Проект был запущен в январе 2014 года актером Сергеем Белоголовцевым и его супругой Натальей Белоголовцевой с помощью команды волонтеров на базе пяти горнолыжных курортов Москвы и Подмосковья. За время своего существования уникальная реабилитационная программа помогла поправить здоровье уже тысячам детей и взрослых с ограниченными возможностями со всей России. Сергей и Наталья, перепробовав все возможные методики лечения для сына Евгения с диагнозом ДЦП, решили попробовать занятия на горных лыжах. Уже спустя 2 недели занятий стало очевидно, что горнолыжный спорт – самый эффективный метод реабилитации ДЦП и других ограниченных возможностей здоровья.
                Горнолыжный клуб Гая Северина впервые принял участие в Программе в 2014 году и стал Первым официальным партнером Программы. Инструктор Клуба Артур Дергачёв прошел обучение в Colorado Winter Park (г. Денвер, США) под руководством Элизабет Фокс, исполнительного директора NSCD — Национального спортивного центра для людей с ограниченными возможностями США, и стал одним из первых шеф-инструкторов Программы. В настоящее время в Клубе работают 9 инструкторов, которые прошли обучение по Программе и проводят занятия с детишками.
Благодаря Программе «Лига мечты» дети и взрослые с различными проблемами здоровья, такими как диагноз ДЦП (детский церебральный паралич), аутизм, синдром Дауна, нарушения зрения и слуха, получили возможность заниматься эффективной реабилитацией и социализацией с помощью горнолыжного спорта.

              </p>
              <ul class="gap-6 mt-8 md:grid md:grid-cols-2">
                  <li class="mt-6 lg:mt-0">
                      <div class="flex">
                          <span class="flex items-center justify-center flex-shrink-0 w-6 h-6 text-green-800 bg-green-100 rounded-full dark:text-green-500 drark:bg-transparent">
                              <svg class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
                                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                                  </path>
                              </svg>
                          </span>
                          <span class="ml-4 text-base font-medium leading-6 text-gray-500 dark:text-gray-200">
                            Уникальная программа реабилитации и социализации для людей с ограниченными возможностями здоровья
                          </span>
                      </div>
                  </li>
                  <li class="mt-6 lg:mt-0">
                      <div class="flex">
                          <span class="flex items-center justify-center flex-shrink-0 w-6 h-6 text-green-800 bg-green-100 rounded-full dark:text-green-500 drark:bg-transparent">
                              <svg class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
                                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                                  </path>
                              </svg>
                          </span>
                          <span class="ml-4 text-base font-medium leading-6 text-gray-500 dark:text-gray-200">
                            Горные лыжи как эффективный метод реабилитации ДЦП и других ограничений здоровья
                          </span>
                      </div>
                  </li>
                  <li class="mt-6 lg:mt-0">
                      <div class="flex">
                          <span class="flex items-center justify-center flex-shrink-0 w-6 h-6 text-green-800 bg-green-100 rounded-full dark:text-green-500 drark:bg-transparent">
                              <svg class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
                                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                                  </path>
                              </svg>
                          </span>
                          <span class="ml-4 text-base font-medium leading-6 text-gray-500 dark:text-gray-200">
                            Работа инструкторов, прошедших обучение по программе
                          </span>
                      </div>
                  </li>
                  <li class="mt-6 lg:mt-0">
                      <div class="flex">
                          <span class="flex items-center justify-center flex-shrink-0 w-6 h-6 text-green-800 bg-green-100 rounded-full dark:text-green-500 drark:bg-transparent">
                              <svg class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
                                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                                  </path>
                              </svg>
                          </span>
                          <span class="ml-4 text-base font-medium leading-6 text-gray-500 dark:text-gray-200">
                            Программа помогла поправить здоровье тысячам детей и взрослых с ограниченными возможностями со всей России
                          </span>
                      </div>
                  </li>
              </ul>
          </div>
          <div class="relative mt-10 lg:-mx-4 relative-20 lg:mt-0 lg:col-start-1">
              <div class="relative space-y-4">
                  <div class="flex items-end justify-center space-x-4 lg:justify-start">
                      <img class="w-32 rounded-lg shadow-lg md:w-56" width="200" src="https://chylkovo.ru/wp-content/uploads/2021/03/LigaMecht_2.jpg"  alt="1"/>
                      <img class="w-40 rounded-lg shadow-lg md:w-64" width="260" src="https://chylkovo.ru/wp-content/uploads/2020/12/LigaMechty_logo_mainpreview-244x300.jpg"  alt="2"/>
                  </div>
                  <div class="flex items-start justify-center ml-12 space-x-4 lg:justify-start">
                      <img class="w-24 rounded-lg shadow-lg md:w-40" width="170" src="https://i.ibb.co/k35X2gy/Liga-Mecht-1.jpg"  alt="3"/>
                      <img class="w-32 rounded-lg shadow-lg md:w-56" width="200" src="https://chylkovo.ru/wp-content/uploads/2021/03/LigaMecht_1.jpg" alt="4"/>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<section>
  <div class="container p-4 mx-auto bg-white max-w-7xl sm:p-6 lg:p-8 dark:bg-gray-800">
      <div class="flex flex-wrap -mx-8">
          <div class="w-full px-8 lg:w-1/2">
              <div class="pb-12 mb-12 border-b lg:mb-0 lg:pb-0 lg:border-b-0">
                  <h2 class="mb-4 text-3xl font-bold lg:text-4xl font-heading dark:text-white">
                    КАК ПРОХОДЯТ ЗАНЯТИЯ
                  </h2>
                  <p class="mb-8 leading-loose text-gray-500 dark:text-gray-300">
                    — Продолжительность занятия 55 минут <br>
                    — В стоимость включено пользование канатными дорогами, прокат спортивного и специализированного инвентаря, предназначенного для проведения занятий по программе «Лига Мечты». <br>
                    — Стоимость одного занятия — 2500 руб.
                  </p>
                  <div class="w-full md:w-1/3">

                  </div>
              </div>
          </div>
          <div class="w-full px-8 lg:w-1/2">
              <ul class="space-y-12">
                  <li class="flex -mx-4">
                      <div class="px-4">
                          <span class="flex items-center justify-center w-16 h-16 mx-auto text-2xl font-bold text-blue-600 rounded-full font-heading bg-blue-50">
                              1
                          </span>
                      </div>
                      <div class="px-4">
                          <h3 class="my-4 text-xl font-semibold dark:text-white">
                            Первое (ознакомительное) занятие делится на две части, примерно по полчаса:
                          </h3>
                          <p class="leading-loose text-gray-500 dark:text-gray-300">
                            Первая часть занятия — знакомство с инструктором, собеседование, осмотр ребенка, оценка его физического состояния, подбор инвентаря. <br>
                            Вторая часть занятия — выход на склон. <br>
                            Возьмите с собой на первое занятие распечатанную заполненную и подписанную Вами анкету. <br>
                          </p>
                      </div>
                  </li>
                  <li class="flex -mx-4">
                      <div class="px-4">
                          <span class="flex items-center justify-center w-16 h-16 mx-auto text-2xl font-bold text-blue-600 rounded-full font-heading bg-blue-50">
                              2
                          </span>
                      </div>
                      <div class="px-4">
                          <h3 class="my-4 text-xl font-semibold dark:text-white">
                            Второе и последующие занятия:
                          </h3>
                          <p class="leading-loose text-gray-500 dark:text-gray-300">
                            Инвентарь в прокате перед занятием Вы получаете самостоятельно. Занятия по Программе «Лига мечты» включают разминку на склоне и катание на лыжах.
                          </p>
                      </div>
                  </li>
                  <li class="flex -mx-4">
                      <div class="px-4">
                          <span class="flex items-center justify-center w-16 h-16 mx-auto text-2xl font-bold text-blue-600 rounded-full font-heading bg-blue-50">
                              3
                          </span>
                      </div>
                      <div class="px-4">
                          <h3 class="my-4 text-xl font-semibold dark:text-white">
                              Рекомендация
                          </h3>
                          <p class="leading-loose text-gray-500 dark:text-gray-300">
                            Мы рекомендуем минимум — 10 занятий (желательно, не реже, чем 2 раза в неделю) для того чтобы увидеть результат.
                          </p>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</section>

<div class="max-w-screen-xl p-8 mx-auto">
  <h2 class="mb-12 text-3xl font-extrabold leading-9 text-gray-900 border-b-2 border-gray-100 text-center">
    ПРОСТЫЕ РЕКОМЕНДАЦИИ И ПРАВИЛА
  </h2>
  <ul class="flex flex-wrap items-start gap-8">
      <li class="w-2/5">
          <p class="text-lg font-medium leading-6 text-gray-900">
            Занятия горнолыжным спортом: важные детали и условия
          </p>
          <p class="mt-2">

              <p class="text-base leading-6 text-gray-500 ">
                Ознакомиться с информацией о том, как проходят занятия по Программе <br>
              Скачать и заполнить Анкету участника. (Формат анкеты Excel) <br>
Отправить заполненную анкету на наш адрес dreamski@chylkovo.ru <br>
Ожидать звонка от Администратора Программы, который подтвердит получение Вашей заявки и ответит на интересующие вопросы. <br>

              </p>

      </li>
      <li class="w-2/5">
        <p class="text-lg font-medium leading-6 text-gray-900">
          Возникли вопросы?
        </p>
        <p class="mt-2">

            <p class="text-base leading-6 text-gray-500 ">
              Если у Вас возникли какие-либо вопросы, вы можете задать их Администратору по телефону +7 (901) 544 34 75 <br>
Обращаем Ваше внимание: Занятия по Программе проводятся зимой только в будние дни. Летом с понедельника по субботу включительно. Обязательна предварительная запись по телефону +7 (901) 544 34 75
            </p>

    </li>
  </ul>
</div>


<footer aria-label="Site Footer" class="bg-white dark:bg-gray-900 lg:grid lg:grid-cols-5">
  <div class="relative block h-32 lg:col-span-2 lg:h-full">
    <img
      src="https://images.unsplash.com/photo-1642370324100-324b21fab3a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80"
      alt="" class="absolute inset-0 object-cover w-full h-full" />
  </div>

  <div class="px-4 py-16 sm:px-6 lg:col-span-3 lg:px-8">
    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
      <div>
        <p>
          <span class="text-xs tracking-wide text-gray-500 uppercase dark:text-gray-400">
            Контакты
          </span>

          <a href="#" class="block text-2xl font-medium text-gray-900 hover:opacity-75 dark:text-white sm:text-3xl">
            +7 (495) 136-58-34 <br>
            info@chylkovo.ru
          </a>
        </p>

        <ul class="mt-8 space-y-1 text-sm text-gray-700 dark:text-gray-200">
          <li>С понедельника по пятницу: 10:00 - 19:00</li>
          <li>Выходные: 10:00 - 15:00</li>
        </ul>
        <span class="text-xs tracking-wide text-gray-500 uppercase dark:text-gray-400">
          Наш адрес <br>
        </span>
        <span class="text-xs tracking-wide text-gray-500 uppercase dark:text-gray-400">
          <a
            href="https://yandex.ru/maps/org/gornolyzhny_klub_gaya_severina/80252403270/?ll=38.027429%2C55.556141&z=17">
            Яндекс Карты
          </a>
        </span>
        <ul class="mt-8 space-y-1 text-sm text-gray-700 dark:text-gray-200">
          <li>МО, Раменский р-н, п. </li>
          <li>им.Тельмана ул. Курганная 1</li>
        </ul>
      </div>

      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
        <div>
          <p class="font-medium text-gray-900 dark:text-white">Мы в соцсетях</p>

          <nav aria-label="Footer Navigation - Services" class="mt-6">
            <ul class="space-y-4 text-sm">
              <li>
                <a href="https://vk.com/chylkovo" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  <i class="fab fa-vk fa-lg" style="color: #a96800;"></i>
                </a>
              </li>

              <li>
                <a href="https://t.me/chylkovo" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  <i class="fab fa-telegram fa-lg" style="color: #a96800;"></i>
                </a>
              </li>

              <!--<li>
                <a href="#" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  Accounts Review
                </a>
              </li>

              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  HR Consulting
                </a>
              </li>

              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  SEO Optimisation
                </a>
              </li>-->
            </ul>
          </nav>
        </div>

        <div>
          <p class="font-medium text-gray-900 dark:text-white">Телекоммуникационный партнер</p>

          <nav aria-label="Footer Navigation - Company" class="mt-6">
            <!-- <ul class="space-y-4 text-sm">
              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  About
                </a>
              </li>

              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  Meet the Team
                </a>
              </li>

              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  Accounts Review
                </a>
              </li>
            </ul>-->
          </nav>
        </div>
      </div>
    </div>

    <div class="pt-12 mt-12 border-t border-gray-100 dark:border-gray-800">
      <div class="sm:flex sm:items-center sm:justify-between">
        <nav aria-label="Footer Navigation - Support">
          <ul class="flex flex-wrap gap-4 text-xs">
            <li>
              <a href="#" class="text-gray-500 transition hover:opacity-75 dark:text-gray-400">
                Terms & Conditions
              </a>
            </li>

            <li>
              <a href="#" class="text-gray-500 transition hover:opacity-75 dark:text-gray-400">
                Privacy Policy
              </a>
            </li>

            <li>
              <a href="#" class="text-gray-500 transition hover:opacity-75 dark:text-gray-400">
                Cookies
              </a>
            </li>
          </ul>
        </nav>

        <p class="mt-8 text-xs text-gray-500 dark:text-gray-400 sm:mt-0">
          &copy; 2023. Company Mavirys. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
