<!--<section >
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8" >
    <div class="max-w-3xl">
      <h2 class="text-3xl font-black sm:text-4xl animate__animated animate__slideInLeft animate__slow	1s">
        Горнолыжный клуб Гая Северина
      </h2>
    </div>

    <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
      <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
        <img alt="Party"
        src="https://api.interactive-img.com/interactiveimage/6033f08f1f775.jpg"
        class="absolute inset-0 h-full w-full object-cover" />

      </div>

      <div class="lg:py-16">
        <article class="space-y-4 text-gray-600   animate__animated animate__slideInRight animate__slow	1s">
          <p>
            Один из 6-ти крупнейших
            горнолыжных комплексов Подмосковья
            Мы находимся в 18 км от Москвы по Новорязанскому шоссе (трасса М5 «Урал»)
          </p>

          <p>
            Склоны Клуба расположены на территории памятника природы «Боровской курган» около Москвы-реки. У нас Вы
            можете отдохнуть от городской суеты и насладиться свежим воздухом и красивыми видами.
            Клуб предлагает Вам разнообразные склоны с прекрасным освещением. Созданы все условия для обучения и катания
            на горных лыжах и сноуборде. Вы можете приобрести все необходимое оборудование в нашем магазине.
          </p>
        </article>
      </div>
    </div>
  </div>
</section>-->



<section
  class="relative bg-[url(https://api.interactive-img.com/interactiveimage/6033f08f1f775.jpg)] bg-cover bg-center bg-no-repeat">
  <div
    class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l">
  </div>

  <div class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8">
    <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
      <h1 class="text-3xl font-extrabold sm:text-5xl">
        Горнолыжный клуб

        <strong class="block font-extrabold text-rose-700">
          Гая Северина
        </strong>
      </h1>

      <p class="mt-4 max-w-lg sm:text-xl/relaxed text-rose-950">
        Один из 6-ти <a class="underline decoration-pink-500 font-semibold">крупнейших</a>
        горнолыжных комплексов Подмосковья
        Мы находимся в 18 км от Москвы по Новорязанскому шоссе (трасса М5 «Урал»)
      </p>

      <div class="mt-8 flex flex-wrap gap-4 text-center">
        <a routerLink="ze"
          class="block w-full rounded bg-rose-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-rose-700 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto">
          Запись на занятие
        </a>

        <a routerLink="/pr"
          class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-rose-600 shadow hover:text-rose-700 focus:outline-none focus:ring active:text-rose-500 sm:w-auto">
          Прокат
        </a>
      </div>
    </div>
  </div>
</section>


<section
  class="bg-center bg-no-repeat bg-[url('https://chylkovo.ru/wp-content/uploads/2022/02/SAG_5507.jpg')] bg-gray-700 bg-blend-multiply">
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl"> Один из
      6-ти <a class="underline decoration-pink-500 font-semibold">крупнейших</a></h1>
    <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">горнолыжных комплексов Подмосковья
      Мы находимся в 18 км от Москвы по Новорязанскому шоссе (трасса М5 «Урал»)</p>
    <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
      <!--<a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
              Get started
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </a>-->
      <a routerLink="cl"
        class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
        История клуба
      </a>
    </div>
  </div>
</section>





<section class="bg-gray-900 text-white">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8">
    <div class="mx-auto max-w-lg text-center">
      <h2 class="text-3xl font-bold sm:text-4xl">Разделы сайта</h2>

      <p class="mt-4 text-gray-300">

      </p>
    </div>

    <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      <a class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
        routerLink="sxem">

        <i class="fas fa-skiing fa-lg h-10 w-10 text-pink-500" fill="none" viewBox="0 0 24 24"></i>
        <h2 class="mt-4 text-xl font-bold text-red-600">СТАТУС ТРАСС</h2>

        <p class="mt-1 text-sm text-gray-300">
          Звезда: закрыта <br>
          Лесная: закрыта <br>
          Учебная: закрыта
        </p>

      </a>

      <a class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
        href="/services/digital-campaigns">
        <i class="fas fa-clock fa-lg h-10 w-10 text-pink-500" fill="none" viewBox="0 0 24 24"></i>
        <h2 class="mt-4 text-xl font-bold text-red-600">ГРАФИК РАБОТЫ</h2>

        <p class="mt-1 text-sm text-gray-300">
          Сезон 2022/2023 завершен <br>
          КЛУБ И ТРАССЫ ЗАКРЫТЫ
        </p>
      </a>

      <a
        class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10">
        <i class="fas fa-cloud fa-lg h-10 w-10 text-pink-500" fill="none" viewBox="0 0 24 24"></i>
        <h2 class="mt-4 text-xl font-bold text-red-600">ПОГОДА</h2>


        <p class="mt-1 text-sm text-gray-300 rounded-md">

          <div class="elfsight-app-114c6ebf-a357-43f1-ac39-d5fbb232a3fa"></div>


      </a>

      <a class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
        routerLink="pr">

        <i class="fas fa-exclamation-triangle fa-lg h-10 w-10 text-pink-500" fill="none" viewBox="0 0 24 24"></i>
        <h2 class="mt-4 text-xl font-bold text-red-600">ВНИМАНИЕ, ЭТО ВАЖНО!</h2>


        <p class="mt-1 text-sm text-gray-300">
          Cлужба проката инвентаря Горнолыжного клуба Гая Северина работает только по предварительной записи. Нажмите
          здесь, чтобы ознакомиться с правилами проката до начала пользования услугой.
        </p>
      </a>

      <a class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
        routerLink="gr">

        <i class="fas fa-clock fa-lg h-10 w-10 text-pink-500" fill="none" viewBox="0 0 24 24"></i>
        <h2 class="mt-4 text-xl font-bold text-red-600">График занятия спортивной школы</h2>

        <p class="mt-1 text-sm text-gray-300">
          С графиком тренировок спортивной группы можете ознакомиться по ссылке <br>
          Для безопасности на склоне устанавливают разграничительную сетку, которая отделяет 1/3 склона или полностью
          перекрытвают трассу.
        </p>
      </a>

      <a class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
        routerLink="/ft">

        <i class="fas fa-newspaper fa-lg h-10 w-10 text-pink-500" fill="none" viewBox="0 0 24 24"></i>
        <h2 class="mt-4 text-xl font-bold text-red-600">ФОТО</h2>

        <p class="mt-1 text-sm text-gray-300">
          Будете в курсе всех событий нашего клуба
        </p>
      </a>
      <a class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
      routerLink="/mz">

      <i class="fas fa-newspaper fa-lg h-10 w-10 text-pink-500" fill="none" viewBox="0 0 24 24"></i>
      <h2 class="mt-4 text-xl font-bold text-red-600">Магазин</h2>

      <p class="mt-1 text-sm text-gray-300">
        Купи все что тебе нравиться
      </p>
    </a>
    </div>
  </div>
</section>


<!--<section class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8">
    <div class="mx-auto max-w-3xl text-center">
      <h2 class="text-3xl font-black text-gray-900 sm:text-4xl">

      </h2>

      <p class="mt-4 text-gray-500 sm:text-xl  animate__animated animate__slideInDown animate__slow	1s">
        Горнолыжный клуб Гая Северина предлагает Вам несколько трасс разного уровня, общей протяженностью более
      </p>
    </div>

    <div class="mt-8 sm:mt-12">
      <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
        <div
          class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center animate__animated animate__slideInLeft animate__slow	1s">
          <dt class="order-last text-lg font-medium text-gray-500">
            протяженность
          </dt>

          <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">
            1000m
          </dd>
        </div>

        <div class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center">
          <dt class="order-last text-lg font-medium text-gray-500">
            перепад
          </dt>

          <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">75m</dd>
        </div>

        <div
          class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center animate__animated animate__slideInRight animate__slow	1s">
          <dt class="order-last text-lg font-medium text-gray-500">
            трасс
          </dt>

          <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">5</dd>
        </div>
      </dl>
    </div>
  </div>
</section>-->

<section class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8">
    <div class="mx-auto max-w-3xl text-center">
      <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">
        Горнолыжный клуб Гай Северина
      </h2>

      <p class="mt-4 text-gray-500 sm:text-xl">
        предлагает Вам несколько трасс разного уровня, общей протяженностью более
      </p>
    </div>

    <div class="mt-8 sm:mt-12">
      <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
        <div class="flex flex-col rounded-lg bg-blue-100 px-4 py-8 text-center">
          <dt class="order-last text-lg font-medium text-gray-500">
            протяженность
          </dt>

          <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">
            1000m
          </dd>
        </div>

        <div class="flex flex-col rounded-lg bg-blue-100 px-4 py-8 text-center">
          <dt class="order-last text-lg font-medium text-gray-500">
            перепад
          </dt>

          <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">75m</dd>
        </div>

        <div class="flex flex-col rounded-lg bg-blue-100 px-4 py-8 text-center">
          <dt class="order-last text-lg font-medium text-gray-500">
            трасс
          </dt>

          <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">5</dd>
        </div>
      </dl>
    </div>
  </div>
</section>

<footer aria-label="Site Footer" class="bg-white dark:bg-gray-900 lg:grid lg:grid-cols-5">
  <div class="relative block h-32 lg:col-span-2 lg:h-full">
    <img
      src="https://api.interactive-img.com/interactiveimage/6033f08f1f775.jpg"
      alt="" class="absolute inset-0 object-cover w-full h-full" />
  </div>

  <div class="px-4 py-16 sm:px-6 lg:col-span-3 lg:px-8">
    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
      <div>
        <p>
          <span class="text-xs tracking-wide text-gray-500 uppercase dark:text-gray-400">
            Контакты
          </span>

          <a class="block text-2xl font-medium text-gray-900 hover:opacity-75 dark:text-white sm:text-3xl">

              <a href=”tel:+7(495)136-58-34”>+7 (495) 136-58-34</a>
             <br>

              <a href="mailto:info@chylkovo.ru">info@chylkovo.ru</a>

          </a>
        </p>

        <ul class="mt-8 space-y-1 text-sm text-gray-700 dark:text-gray-200">
          <li>С понедельника по пятницу: 10:00 - 19:00</li>
          <li>Выходные: 10:00 - 15:00</li>
        </ul>
        <span class="text-xs tracking-wide text-gray-500 uppercase dark:text-gray-400">
          Наш адрес <br>
        </span>
        <span class="text-xs tracking-wide text-gray-500 uppercase dark:text-gray-400">
          <a
            href="https://yandex.ru/maps/org/gornolyzhny_klub_gaya_severina/80252403270/?ll=38.027429%2C55.556141&z=17">
            Яндекс Карты
          </a>
        </span>
        <ul class="mt-8 space-y-1 text-sm text-gray-700 dark:text-gray-200">
          <li>МО, Раменский р-н, п. </li>
          <li>им.Тельмана ул. Курганная 1</li>
        </ul>
      </div>

      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
        <div>
          <p class="font-medium text-gray-900 dark:text-white">Мы в соцсетях</p>

          <nav aria-label="Footer Navigation - Services" class="mt-6">
            <ul class="space-y-4 text-sm">
              <li>
                <a href="https://vk.com/chylkovo" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  <i class="fab fa-vk fa-lg" style="color: #a96800;"></i>
                </a>
              </li>

              <li>
                <a href="https://t.me/chylkovo" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  <i class="fab fa-telegram fa-lg" style="color: #a96800;"></i>
                </a>
              </li>

              <!--<li>
                <a href="#" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  Accounts Review
                </a>
              </li>

              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  HR Consulting
                </a>
              </li>

              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  SEO Optimisation
                </a>
              </li>-->
            </ul>
          </nav>
        </div>

        <div>
          <p class="font-medium text-gray-900 dark:text-white">Телекоммуникационный партнер</p>

          <nav aria-label="Footer Navigation - Company" class="mt-6">
            <!-- <ul class="space-y-4 text-sm">
              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  About
                </a>
              </li>

              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  Meet the Team
                </a>
              </li>

              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75 dark:text-gray-200">
                  Accounts Review
                </a>
              </li>
            </ul>-->
          </nav>
        </div>
      </div>
    </div>

    <div class="pt-12 mt-12 border-t border-gray-100 dark:border-gray-800">
      <div class="sm:flex sm:items-center sm:justify-between">
        <nav aria-label="Footer Navigation - Support">
          <ul class="flex flex-wrap gap-4 text-xs">
            <li>
              <a href="#" class="text-gray-500 transition hover:opacity-75 dark:text-gray-400">
                Terms & Conditions
              </a>
            </li>

            <li>
              <a href="#" class="text-gray-500 transition hover:opacity-75 dark:text-gray-400">
                Privacy Policy
              </a>
            </li>

            <li>
              <a href="#" class="text-gray-500 transition hover:opacity-75 dark:text-gray-400">
                Cookies
              </a>
            </li>
          </ul>
        </nav>

        <p class="mt-8 text-xs text-gray-500 dark:text-gray-400 sm:mt-0">
          &copy; 2023. Company Mavirys. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
